.logo{
    height: 75px;
    width: 75px;
    border-radius: 50%; 
    background-color: rgb(55, 55, 55);
    background-image: url(https://th.bing.com/th/id/OSK.a6juT1HUPv6hW3gPAjuYZ09iHBo_UA4DEYowoxZN9eA?w=50&h=50&c=12&o=6&dpr=1.3&pid=SANGAM);
     background-size: cover;
     box-sizing: border-box;
}