.foto-profile {
    height: 75px;
    width: 75px;
    border-radius: 60%; 
    background-color: rgb(55, 55, 55);
    background-image: url("./IMG/logo.jpg");
    background-position: center;
    background-size: cover;
    
}
#home-page{
    background-color: aqua;
}
#profile-page{
    background-color: rgb(234, 17, 9);
}